@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body,
html {
  // width: 100%;
  // height: 100%;
  background: #1c1d22;
  font-family: "Varela Round", sans-serif;
  // padding: 0;
  // margin: 0;
}
h1 {
  color: #ffffff;
}
main {
  display: grid;
  justify-content: center;
  padding: 1rem;
}
.last-publications {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.2rem;
  img {
    transition: 1s;
    width: 100%;
    &:hover {
      transform: scale(1.05);
    }
  }
  h2 {
    color: #ffffff;
  }
  .main-article {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .publication-details {
    margin-top: -10rem;
    padding: 0 1rem;
  }
  .publication-infos {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .publication-category {
      &:hover {
        border-bottom: 1px red solid;
      }
    }
    .publication-date {
      display: flex;
      align-items: center;
    }
  }
  // .publication-post {
  //   transition: 1s;
  //   &:hover {
  //     transform: translateY(-1rem);
  //   }
  // }
}
.last-meeting {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  img {
    width: 100%;
  }
}
.meeting-post {
  transition: 1s;
  &:hover {
    // transform: scale(1.05);
    transform: translateY(-1rem);
  }
}

@media all and (max-width: 500px) {
  .last-publications {
    display: block;
    transform: none;
  }
}
