.filter-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #fff;
  justify-content: space-around;
  height: 23rem;
  //   background-color: #d94f5c;
  .filter-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    // .ant-btn-primary {
    //   background-color: #00796b;
    //   border-color: #00796b;
    //   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    //   box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    // }
  }
  .filters {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    // justify-content: space-between;

    .filter-category {
      padding: 7px 15px;
      border-radius: 3px;
      color: #fff;
      font-size: 0.9rem;
      background-color: transparent;
      border-style: solid;
      border-width: 1px;
      margin-right: 2rem;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        // border-color: #00796b;
        // color: #00796b;
        transform: scale(1.05);
        font-size: 0.95rem;
      }
    }
  }
}
.video-container {
  display: flex;
  justify-content: center;
  .videos {
    flex-basis: 80%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.2rem;
    grid-gap: 1rem;
    img {
      border-radius: 3% 3% 0% 0%;
      width: 100%;
    }
  }
}
@media all and (max-width: 750px) {
  h1 {
    font-size: 2rem;
  }
  .filter-container {
    .filters {
      .filter-category {
        margin: 0.1rem;
      }
    }
  }
}
