h5 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
}
.sidebar-header {
  display: flex;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar-heading {
  margin: 3px 12px 0px;
}
.sidebar-header-line {
  height: 1px;
  flex: 1;
  background-color: #fff;
  opacity: 0.3;
}
